.navigation {
  margin-bottom: 20px;
}

.avatar {
  text-align: center;
}

#profile-col {
  border-right: 1px solid #fff;
  background-color: #fff;
  /* border: 1px solid #000; */
}

#article-col {
  border-right: 1px solid #fff;
  /* border: 1px solid #000; */
}

#article-menu-col {
  /* border: 1px solid #000; */
}

#profile-img {
  width: 200px;
  height: 200px;
}

#article-card-img {
  max-width: auto;
  max-height: 200px;
}

.article-card-container {
  margin-bottom: 20px;
}
