#profile-col {
  border-right: 1px solid #ddd;
  background-color: #eee;
  /* border: 1px solid #000; */
}

#article-col {
  border-right: 1px solid #ddd;
  /* border: 1px solid #000; */
}

#article-menu-col {
  /* border: 1px solid #000; */
}

#profile-img {
  width: 200px;
  height: 200px;
}
